<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.n5050.demoapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_brand_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/set_up_alarm"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".Receiver" />

        <service android:name=".PlaySound" />
        <service android:name=".FetchLocation" />

        <activity
            android:name=".TurnOff"
            android:launchMode="singleTop"
            android:label="@string/app_brand_name"/>
        <activity android:name=".GpsAlarm"
            android:label="@string/travel_alarm"/>
        <activity android:name=".SetGpsAlarm"
            android:label="@string/travel_alarm"/>
        <activity android:name=".Home"

            android:label="@string/app_brand_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".AlarmContentProvider"
            android:authorities="com.example.n5050.demoapp"
            android:exported="false" />

        <activity android:name=".SettingsActivity"
            android:label="@string/app_setting"/>
        <activity android:name=".SplashScreen">

        </activity>
        <activity android:name=".SelectTone"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="Select Tone"></activity>
    </application>

</manifest>